#login-form {
  max-width: 500px;
}

.landing {
  position: relative;
  background-color: floralwhite;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.sub-menu {
  margin-top: 20px;
}
